.home {
    height: 6vh;
    background: #0C1212;
    width: 100vw;
    /*text-align: center;*/
    /*opacity: 0.9;*/
    box-shadow: 0 10px 40px rgba(28, 39, 41, 0.8);
    background: -moz-linear-gradient(top, #272727 0%, #181818 50%, #070707 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5D6464), color-stop(50%, #181818), color-stop(100%, #070707));
    background: -webkit-linear-gradient(top, #272727 0%, #181818 50%, #070707 100%);
    background: -o-linear-gradient(top, #272727 0%, #181818 50%, #070707 100%);
    background: -ms-linear-gradient(top, #272727 0%, #181818 50%, #070707 100%);
    background: linear-gradient(to bottom, #272727 0%, #181818 50%, #070707 100%);
}

.left {
    left: 0;
    top: 0;
    position: absolute;
}

.left h4 {
    color: #15B2D8;
    line-height: 6vh;
    margin-left: 2vw;
    font-family: "华文琥珀";
}

.left h5 {
    position: absolute;
    color: #15B2D8;
    line-height: 6vh;
    /*margin-left: 25vw;*/
    left: 48%;
    /*top: 50%;*/
}

.right {
    color: #ffffff;
    font-family: "微软雅黑", serif;
    top: 0;
    right: 0;
    position: absolute;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 2vw 0 0;
    line-height: 3vh;
    overflow: hidden;
}

/*移除百度地图logo*/
.anchorBL {
    display: none
}

/*header*/
.home .right > ul > li {
    float: left;
    margin-left: 1vw;
}

.home .right > ul > li > span {
    margin-top: 0.5vh;
    height: 2vh;
    display: block;
    font-size: 0.9rem;
    text-align: center;
}

.home .right > ul #time {
    font-size: 1.9rem;
    line-height: 6vh;
}

/*body*/
.main {
    width: 100vw;
    height: 100vh;
    position:fixed;
    background: #213134;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-position: center 0;
}

.title {
    padding: 0.5vh 0;
    color: #3EAACC;
    font-size: 1rem;
    width: 24vw;
    text-align: center;
    padding-bottom: 1vh;
    /*line-height: 5vh;*/
}

.middle {
    position: absolute;
    left: 25vw;
    top: 0;
    width: 50vw;
    height: 100vh;
}

.title > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.title .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.title .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.title .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.title .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.title .title-left {
    font-size: 1.4rem;
}

.title i {
    margin: 0.5vh 1vw 0.8vh 0;
}

/*左侧*/
.leftMenu {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 20px 50px rgba(28, 39, 41, 0.8) inset;
    margin-top: 8vh;
    background: rgba(0, 0, 0, 0.6);
    margin-left: 1vw;
}

::-webkit-scrollbar {
    display: none
}

.bar {
    width: 24vw;
    height: 24vh;
    margin-top: 17vh;
}

/*.basic {*/
    /*width: 24vw;*/
    /*height: 20vh;*/
    /*!*overflow-x: hidden;*!*/
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
    /*text-align: center;*/
    /*color: #3EAACC;*/
/*}*/
.basic {
    width: 24vw;
    height: 20vh;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
    color: #3EAACC;
}
.basic .basicDiv{
    position: absolute;
    overflow: hidden;
    color: #3EAACC;
    /*text-align: center;*/
    width: 24vw;
    height: 20vh;
}
.basic .basicDiv ul{
    margin: 0.1vw;
    width: 24vw;
    /*height: 10vh;*/
}
.bar > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.bar .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.bar .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.bar .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.bar .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.Map {
    width: 24vw;
    height: 32vh;
    margin-top: 43vh;
}

.Map > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.Map .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.Map .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.Map .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.Map .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.graph {
    width: 24vw;
    height: 21vh;
    margin-top: 77vh;
}
.graph .toiletTitle{
    color: #3EAACC;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.2rem
}
.graph .Toilet{
    color: #3EAACC;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0.2rem
}
.graph .toilet{
    width: 80%;
    height: 3vh;
    /*text-align: center;*/
    background: #3EAACC;
    color: #fff;
    margin-left: 1vw;
    margin-top: 1rem;
    border-radius: 5px;
}
.graph .toilet span{
    font-size: 0.7rem;
    text-align: center;
    line-height: 3vh;
}
.graph > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.graph .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.graph .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.graph .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.graph .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.rightMenu {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 20px 50px rgba(28, 39, 41, 0.8) inset;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 8vh;
    margin-right: 1vw;
}

.weather {
    width: 24vw;
    height: 24vh;
    color: #3EAACC;
    text-align: center;
    margin-top: 17vh;
}

.weather .weatherIcon, .wind {
    margin-left: 1.5vw;
}

.weather .today {
    margin-top: 1.5rem;
}

.weather .tomorrow {
    font-size: 0.9rem;
    margin-top: 1.5rem
}

.weather > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.weather .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.weather .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.weather .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.weather .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.weather .title-left {
    font-size: 0.8rem;
}

.pie {
    width: 24vw;
    height: 32vh;
    margin-top: 43vh;
}

.pie > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.pie .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.pie .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.pie .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.pie .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

.pie .title-left {
    font-size: 0.8rem;
}

.dashboard {
    width: 24vw;
    height: 21vh;
    margin-top: 77vh;
}
.dashboard  .carportTitle{
    color: #3EAACC;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.2rem
}
.dashboard .carport {
    color: #3EAACC;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.2rem
}
.dashboard .carport .carportBig{
    width: 80%;
    height: 3vh;
    /*text-align: center;*/
    background: #3EAACC;
    color: #fff;
    margin-left: 1vw;
    margin-top: 0.7rem;
    border-radius: 5px;
}
.dashboard .carport span{
    font-size: 0.7rem;
    text-align: center;
    line-height: 3vh;
}
.dashboard > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}

.dashboard .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.dashboard .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.dashboard .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.dashboard .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

/*中间*/
.video {
    position: absolute;
    top: 18vh;
    box-shadow: 0 20px 50px rgba(28, 39, 41, 0.8) inset;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 8vh;
    right: 26vw;
    width: 48vw;
    height: 42vh;
}
.video > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}
.video .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.video .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.video .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.video .lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}
.Introduction {
    position: absolute;
    top: 62vh;
    box-shadow: 0 20px 50px rgba(28, 39, 41, 0.8) inset;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 8vh;
    right: 26vw;
    width: 48vw;
    height: 24vh;
}
.Introduction > .rt, .rb, .lt, .lb {
    width: 10px;
    height: 10px;
    position: absolute;
}
.Introduction .lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.Introduction .rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.Introduction .rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}
/*中间底部文字滚动*/
.bottom {
    position: absolute;
    right: 26vw;
    width: 48vw;
    top: 8vh;
    height: 16vh;
    box-shadow: 0 20px 50px rgba(28, 39, 41, 0.8) inset;
    background: rgba(0, 0, 0, 0.6);
}

.bottomDiv {
    position: absolute;
    overflow: hidden;
    color: #3EAACC;
    line-height: 12vh;
    width: 48vw;
    height: 24vh;
    /*margin-left: 1rem;*/
}
.bottomDiv img{
    width: 47vw;
    height: 14vh;
    margin: 0.5rem;
}
#banner {
    position: relative;
    width: 48vw;
    height: 24vh;
    border: 1px solid #666;
    overflow: hidden;
}

#banner_list div {
    width: 48vw;
    height: 24vh;
}
#banner_list div > p  {
    float: right;
    /*height: 24vh;*/
}
#banner_list div >img {
    position: absolute;
    width: 18vw;
    height: 22vh;
    margin: 0.6rem;
    /*margin-bottom: 1vh;*/
}

#banner_bg {
    position: absolute;
    bottom: 0;
    background-color: #000;
    height: 30px;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 1000;
    cursor: pointer;
    width: 40vw;
}

#banner_info {
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 22px;
    color: #fff;
    z-index: 1001;
    cursor: pointer
}

#banner_text {
    position: absolute;
    width: 120px;
    z-index: 1002;
    right: 3px;
    bottom: 3px;
}

#banner ul {
    position: absolute;
    list-style-type: none;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 1002;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 5px;
}

#banner ul li {
    padding: 0 8px;
    float: left;
    display: block;
    color: #FFF;
    background: #6f4f67;
    cursor: pointer;
    border: 1px solid #333;
}

#banner ul li.on {
    background-color: #000;
}

#banner_list div {
    position: absolute;
}




.all {
    width: 10px;
    height: 10px;
    position: absolute;
}

.lt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    top: -2px;
}

.rt {
    border-top: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    top: -2px;
}

.rb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-right: 1.5px solid rgba(0, 211, 231, 0.5);
    right: -2px;
    bottom: -2px;
}

.lb {
    border-bottom: 1.5px solid rgba(0, 211, 231, 0.5);
    border-left: 1.5px solid rgba(0, 211, 231, 0.5);
    left: -2px;
    bottom: -2px;
}

li {
    line-height: 1.5rem;
    text-indent: 2rem;
    font-style: normal;
}

.bottomtext {
    position: absolute;
    width: 30vw;
    background: rgba(0, 0, 0, 0.6);
    bottom: 2vh;
    bottom: 2vh;
    left: 35vw;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.bottomtext span {
    color: rgba(0, 0, 0, 0);
}
.basic {
    font-size: 1rem;
}
/*.rightMenu .video{*/
/*width: 24vw;*/
/*height: 18vh;*/
/*}*/