@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k24kbx');
  src:  url('fonts/icomoon.eot?k24kbx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k24kbx') format('truetype'),
    url('fonts/icomoon.woff?k24kbx') format('woff'),
    url('fonts/icomoon.svg?k24kbx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloudy-sky:before {
  content: "\e900";
  color: #fff;
}
.icon-fine:before {
  content: "\e901";
  color: #fff;
}
.icon-cloudy:before {
  content: "\e902";
  color: #fff;
}
.icon-lightning:before {
  content: "\e903";
  color: #fff;
}
.icon-sleet:before {
  content: "\e905";
  color: #fff;
}
.icon-heavy-snowfall:before {
  content: "\e906";
  color: #fff;
}
.icon-intense-fall:before {
  content: "\e907";
  color: #fff;
}
.icon-hail:before {
  content: "\e908";
  color: #fff;
}
.icon-heavy-rain:before {
  content: "\e909";
  color: #fff;
}
.icon-thundershower:before {
  content: "\e90a";
  color: #fff;
}
.icon-The-thunderstorm-hail:before {
  content: "\e90b";
  color: #fff;
}
.icon-spit:before {
  content: "\e90d";
  color: #fff;
}
.icon-light-rain:before {
  content: "\e90e";
  color: #fff;
}
.icon-moderate-rain:before {
  content: "\e910";
  color: #fff;
}
